body{
    width: 600px; 
    background-color: black; 
    margin: auto; 
   }
   #title {
     font-family: "Zen Dots", serif;
     font-weight: 400;
     font-style: normal;
     color: yellow; 
     text-align: center;
   }
   img{
     border: 1px solid yellow;
     display: block; 
     max-width: 100%;  
     height: auto; 
     margin: auto; 
   }
   #img-caption{
     font-family: "Zen Dots", serif;
     font-weight: 400;
     font-style: normal;
     color: yellow; 
   }
   #tribute-info{
     color: white; 
     width: 550px; 
     font-family: "Prompt", serif;
     font-weight: 200;
     font-style: normal;
     font-size: 13px; 
   }
   #quote-title{
   color: yellow; 
   font-family: "Zen Dots", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   }
   .divider{
    border-bottom: 2px solid yellow;
    width: 550px; 
   }
   #content-head{
   color: yellow; 
   font-family: "Zen Dots", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   padding-top: 23px; 
   }
   #tribute-link{
   color: yellow; 
   font-family: "Zen Dots", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 14px
   }
   #everything{
    margin-left: 23px;  
   }
   